<html>

<head>
    <title>test</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <ul>
            <li v-for="num in nums">{{num}}</li>
        </ul>
        <span v-for="n in 5">✔</span>
    </div>
    
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: {
                    "a": "aa",
                    "b": "bb",
                    "c": "cc",
                    "d": "dd",
                    "e": "ee",
                    "f": "ff",
                    "g": "gg"
                },
                nums: [1, 2, 3, 4, 5]
            }
        })
    </script>
</body>
