<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-layout column class="equip_user">
          <v-flex class="ma-4">
            <v-row>
              <v-col cols="12">
                <!-- datatables..........S -->
                <div>
                  <v-card height=50>
                    <!-- dialog........S -->
                    <v-dialog v-model="dialog" persistent max-width="450px">

                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          raised
                          color="primary"
                          v-bind="attrs"
                          v-on="on"
                          style="padding: 19px">
                          <v-icon style=" transform: translateY(1px);">mdi-account-plus</v-icon>
                          &nbsp;사용자 등록
                        </v-btn>
                      </template>
                  
                      <v-card raised outlined class="pa-3 user_popup" > 
                        <v-card-title style=" padding-bottom: 0; ">
                          <div class="headline" 
                            style="margin: 0 auto; width: 200px; text-align:center; font-weight:600; padding-top:10px;">
                            <v-icon style="font-size:30px; transform: translateY(-1px);">mdi-account-plus</v-icon>
                            사용자 등록
                          </div>
                        </v-card-title>
                        <!-- <hr/> -->
                        <v-card-text style="padding:0 30px 15px; transform:translateY(10px)">
                            <v-form ref="form" lazy-validation>
                                  <v-text-field
                                    v-model="user_id"
                                    label="아이디*" 
                                    :counter="15" 
                                    :rules="user_id_rule" 
                                    :disabled="state == 'ins' ? false : true" 
                                    autofocus
                                    required
                                    >
                                  </v-text-field>
                                  <!-- <v-text-field :value="user_id" @change="v => user_id = v" label="아이디*" :rules="user_id_rule" :disabled="state == 'ins' ? false : true" required></v-text-field> -->
                                  <v-text-field 
                                    v-model="user_nm" 
                                    label="이름*"
                                    :counter="30" 
                                    :rules="user_nm_rule" 
                                    required></v-text-field>
                                  <v-text-field 
                                    v-model="user_pw" 
                                    label="비밀번호*" 
                                    :counter="30" 
                                    type="password" 
                                    :rules="user_pw_rule"></v-text-field>
                                  <v-text-field 
                                    v-model="user_pw_chk" 
                                    label="비밀번호 확인*" 
                                    :counter="30" 
                                    type="password" 
                                    :rules="user_pw_rule2"></v-text-field>
                                  <v-select
                                    v-model="user_auth"
                                    label="권한*"
                                    :items="authList"
                                    item-text="name"
                                    item-value="value"
                                    return-object
                                    :rules="user_auth_rule"
                                    ></v-select>
                                  <v-text-field 
                                    v-model="user_desc" 
                                    label="설명" 
                                    :counter="100" 
                                    :rules="user_desc_rule">
                                  </v-text-field>
                                <v-switch
                                  v-model="is_use"
                                  :label="is_use == true? '사용함' : '사용안함'"></v-switch>
                            </v-form>
                          <small class="red--text">*표시는 반드시 입력해야하는 항목입니다.</small>
                        </v-card-text>
                        <v-card-actions style="justify-content: center; padding-bottom: 15px; ">
                          <!-- <v-spacer></v-spacer> -->
                          <v-btn class="ma-2" raised depressed color="primary" @click="save">
                            <v-icon left>mdi-check</v-icon> 저장
                          </v-btn>
                          <v-btn class="ma-2" raised depressed @click="close">
                            <v-icon left>mdi-close</v-icon> 닫기
                          </v-btn>
                  
                        </v-card-actions>
                      </v-card>
                  
                    </v-dialog>
                    <!-- dialog........E -->
                  </v-card>
              
                  <div height=75 style="display:flex; justify-content:space-between; transform:translateY(15px);">
                    <v-card-title style="width:500px; display:block;">  
                      <v-text-field
                        v-model="search"
                        col = "4"
                        append-icon="mdi-magnify"
                        label="Search"
                        single-line
                        style="padding-top:5px; "
                      ></v-text-field>
                    </v-card-title>
              
                    <v-card-title class="adjust_table" style="transform:translateY(3px); padding: 6px 16px 0 0; ">
                      <div>
                        <v-card-text> total : {{this.listData.length}} </v-card-text>
                      </div>
                      <div>
                        <v-select
                          :menu-props="{bottom: true, offsetY: true}"
                          offsetY
                          v-model="selectPerPage"
                          :items="selectList"
                          @change="adjustHeight_rest()"
                          item-text="name"
                          item-value="value"
                          solo dense
                          style="transform:translateY(12px); width:150px;  "
                        ></v-select>
                      </div>
                      <div style="display: flex; background-color:rgba(238, 238, 238, 0.5); padding: 1px 10px 5px 10px; margin-left:20px; border-radius:4px; ">
                        <div @click=adjustHeight(1,$event) class="btn_height">
                          <v-icon style="transform:translateX(-1px); color:#1976d2; margin-right:2px;">mdi-view-agenda</v-icon>
                        </div>
                        <div @click=adjustHeight(2,$event) class="btn_height">
                          <v-icon style="font-size:29px;">mdi-view-sequential</v-icon>
                        </div>
                        <div @click=adjustHeight(3,$event) class="btn_height">
                          <v-icon style="font-size:29px;">mdi-view-headline</v-icon>
                        </div>
                      </div>
                    </v-card-title>
              
              
                  </div>
              
                  <v-card-text class="userList">
                    <v-data-table
                      :headers="headers"
                      :items="listData"
                      :page.sync="page"
                      :search="search"
                      :items-per-page="selectPerPage"
                      hide-default-footer
                      class="elevation-1"
                      @page-count="pageCount = $event"
                    >
                      <template v-slot:[`item.is_use`]="{ item }">
                        <v-checkbox 
                          v-model="item.is_use" 
                          @click.native.prevent.capture="switch_isUse(item,$event)">
                        </v-checkbox>
                      </template>
              
                      <template v-slot:[`item.user_auth_nm`]="{ item }">
                          <v-icon 
                            left 
                            style="font-size:15px;" 
                            :color="divideUser(item.user_auth_nm)">
                            mdi-account
                          </v-icon>
                          {{item.user_auth_nm}}
                      </template>
              
                      <template v-slot:[`item.actions`]="{ item }">
                      <v-icon
                        small
                        class="mr-2 btn_action"
                        @click="editItem(item)"
                        style="color:#1976d2;">
                        mdi-pencil
                      </v-icon>
                      <v-icon
                        small
                        class="btn_action"
                        @click="deleteItem(item)"
                        style="color:#e23d3d;">
                        mdi-delete
                      </v-icon>
                      </template>
                    </v-data-table>
                    
                    <div class="text-center pt-2">
                      <v-pagination 
                        v-model="page" 
                        :length="pageCount">
                      </v-pagination>
                    </div>
                  </v-card-text>    
                </div>
                <!-- datatables..........E -->
              </v-col>
            </v-row>
          </v-flex>
        </v-layout>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          user_info: null,
          search:'',
          page: 1,
          pageCount: 0,

          totalCount: null, 

          headers: [
            { text: '사용여부', value: 'is_use' },
            { text: '아이디', value: 'user_id' },
            { text: '사용자명', value: 'user_nm' },
            { text: '권한', value: 'user_auth_nm' },
            { text: '설명', value: 'user_desc' },
            { text: '수정 / 삭제', value: 'actions', sortable: false}
          ],
          selectList : [
            { name: '5개씩 보기', value: 5},
            { name: '10개씩 보기', value: 10},
            { name: '20개씩 보기', value: 20},
            { name: '30개씩 보기', value: 30},
          ],
          selectPerPage : 10,
          col_height:1,
          listData: [
            {"_index":"ni_setting","_id":"smw004","type":"user","user_id":"smw004","user_nm":"smw2","user_pw":"$2a$05$HJ927xw/svfMMd7NkVT5xewOA6.s4KC2g5pZnJmFF.Z8DuGIy8vTq","user_auth_nm":"일반 사용자","user_auth_code":"M","user_mk_dt":"2021-07-26 11:28:48","user_upd_dt":"2021-07-26 11:28:48","user_desc":"123123","is_use":true},
            {"_index":"ni_setting","_id":"smw0807","type":"user","user_id":"smw0807","user_nm":"송민우","user_pw":"$2a$05$K5AvmDK41oC.X/RTeRZ5T.DIx3l6WTeBaMEhg9b9AgE4zeXZsCqGS","user_auth_nm":"관리자","user_auth_code":"A","user_mk_dt":"2021-07-26 10:39:56","user_upd_dt":"2021-07-26 10:39:56","user_desc":"송민우 테스트 계정","is_use":true}
          ],

          //dialog data
          dialog: false,
          state: 'ins',

          user_id: '',
          user_id_rule: [
            v => !!v || '아이디는 필수 입력사항입니다.',
            v => /^[a-zA-Z0-9]*$/.test(v) || '아이디는 영문+숫자만 입력 가능합니다.',
            v => !( v && v.length >= 15) || '아이디는 15자 이상 입력할 수 없습니다.',
            v => this.state === 'ins' ? this.checkDuplicate(v) : true
          ],
          user_nm: '',
          user_nm_rule: [
            v => !!v || '이름은 필수 입력사항입니다.',
            v => !(v && v.length >= 30) || '이름은 30자 이상 입력할 수 없습니다.',
            v => !/[~!@#$%^&*()_+|<>?:{}]/.test(v) || '이름에는 특수문자를 사용할 수 없습니다.'
          ],
          user_pw: '',
          user_pw_chk: '',
          user_pw_rule: [
            v => this.state === 'ins' ? !!v || '패스워드는 필수 입력사항입니다.' : true,
            v => !(v && v.length >= 30) || '패스워드는 30자 이상 입력할 수 없습니다.',
          ],
          user_pw_rule2: [
            v => this.state === 'ins' ? !!v || '패스워드는 필수 입력사항입니다.' : true,
            v => !(v && v.length >= 30) || '패스워드는 30자 이상 입력할 수 없습니다.',
            v => v === this.user_pw || '패스워드가 일치하지 않습니다.'
          ],
          authList: [
            { name: '관리자', value: 'A'},
            { name: '일반 사용자', value: 'M'}
          ],
          user_auth: '',
          user_auth_rule: [
            v => !!v || '권한은 필수 선택 사항입니다.'
          ],
          user_desc: '',
          user_desc_rule: [
            v => !(v && v.length >= 100) || '설명은 100자 이상 입력할 수 없습니다.'
          ],
          is_use : true,
        }
      },
      computed: {
        user_info_data() { //상세정보
          return this.user_info;
        },
        changeSelect(){
          // selectBox 값을 가져와서 adjustHeight한번더 ...
          return this.selectPerPage;
        }
      },
      methods: {
        async switch_isUse(item, e){
          if (confirm(`${item.user_id}의 사용여부를 변경하시겠습니까?`)) {
            //....
          } else {
              e.stopPropagation();
              e.preventDefault();
          }
        },
        editItem(data) {
          this.user_info = data;
        },
        set_user_info(data){
          this.user_info = data;
        },
        async deleteItem(item) {
          // 코드 정리 
          if (confirm(`${item.user_id} 계정을 삭제하시겠습니까?`)) {
            //...
          }
        },
        divideUser(auth_nm){
          if(auth_nm == '관리자') return 'orange darken-4';
          else return 'success darken-4';
        },
        adjustHeight(whichHeight, e){
          // 코드정리
          let btn_height = document.getElementsByClassName('btn_height')
          for(let each_btn of btn_height){
            each_btn.children[0].style.color = 'rgba(0, 0, 0, 0.54)';
          }
          e.target.style.color = '#1976d2';
          let checkboxes = [];
          checkboxes = document.querySelectorAll('.userList .v-input');
          if(whichHeight == 1){
            this.col_height = 1;
            for(let each_cb of checkboxes){
              each_cb.style.margin = '16px 0';
            }
          }else if(whichHeight == 2){
            this.col_height = 2;
            for(let each_cb of checkboxes){
              each_cb.style.margin = '10px 0';
            }
          }else{
            this.col_height = 3;
            for(let each_cb of checkboxes){
              each_cb.style.margin = '4px 0 ' ;
            }
          }
        },
        async adjustHeight_rest(e){
          let ch = await this.col_height;

          let checkboxes = [];
          checkboxes =  document.querySelectorAll('.userList .v-input');
          if(ch == 1){
            for(let each_cb of checkboxes){
              each_cb.style.margin = '16px 0';
            }
          }else if(ch == 2){
            for(let each_cb of checkboxes){
              each_cb.style.margin = '10px 0';
            }
          }else{

            for(let each_cb of checkboxes){
              each_cb.style.margin = '4px 0 ' ;
            }
          }
        },
        //dialog...
        async save() {
          console.log("/// : ", this.$confirm);
          const validate = this.$refs.form.validate();
          if (validate) {
            //
          }
        },
        //id 중복체크
        checkDuplicate(user_id) {     
          return true
        },
        close() {
          this.dialog = false;
          this.state = 'ins';
          this.user_id = '';
          this.user_nm = '';
          this.user_pw = '';
          this.user_pw_chk = '';
          this.user_auth = '';
          this.user_auth_nm = '';
          this.user_desc = '';
          this.is_use = true;
          // this.$refs.form.reset();
          this.$refs.form.resetValidation();
          // this.$emit('set_info', null);
        }
      },
    })
  </script>
  <style>
    .equip_user .v-sheet{
      box-shadow:none !important;
    }
  </style>
</body>
</html>
